<nav class="navbar navbar-expand navbar-light bg-light">
 <div class="container">
  <a class="navbar-brand">FusionRisk ARC ALM App</a>
  <div class="collapse navbar-collapse">
   <ul class="navbar-nav mr-auto">
    <li class="nav-item">
     <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="import">Import</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="compute">Compute</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="report">Report</a>
    </li>

   </ul>
   <ul class="navbar-nav ml-auto">
    <li class="nav-item">
     <a class="nav-link" href="register">Register</a>
    </li>
    <li class="nav-item">
     <a class="nav-link">Sign In</a>
    </li>
   </ul>
  </div>
 </div>
</nav>
    