<nav class="navbar navbar-expand   almnavbar">
 <div class="almcontainer">
  
  <div class="collapse navbar-collapse">
    <a class="navbar-brand">FusionRisk ARC</a>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
   <ul class="navbar-nav mr-auto">
    <li class="nav-item">
     <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="import">Import</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="compute">Compute</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="report">Report</a>
    </li>

   </ul>
   <ul class="navbar-nav ml-auto">
    <li class="nav-item">
     <a class="nav-link" href="register">Register</a>
    </li>
    <li class="nav-item">
     <a class="nav-link">Sign In</a>
    </li>
   </ul>
  </div>
 </div>
</nav>
    